@import '../settings.css';

.contactsection-wrapper {
    background-color: white;
}

.contactsection {
    grid-column: 2 / 16;
}

.form {
    grid-column: 2 / 16;
}

.contactsection > h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 56px;
}

.contactsection > p {
    line-height: 28px;
    font-size: 1.1rem;
}

@media (--mobile-viewport) {

    .contactsection-wrapper {
        background-color: white;
    }
    
    .contactsection {
        grid-column: 2 / 16;
    }

    .form {
        grid-column: 2 / 16;
    }

}

@media (--laptop-viewport) {

    .contactsection-wrapper {
        background-color: white;
    }
    
    .contactsection {
        grid-column: 2 / 9;
    }
    
    .form {
        grid-column: 9 / 16;
    }

}

@media (--desktop-viewport) {

    .contactsection-wrapper {
        background-color: white;
    }
    
    .contactsection {
        grid-column: 3 / 9;
    }
    
    .form {
        grid-column: 9 / 15;
    }

}