@import '../settings.css';

.Metric {
    padding: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.Metric > span.number {
    color: #1AA11A;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

.Metric > span {
    display: block;
    color: black;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.Metric > hr {
    border: 1px solid #f0f0f0;
}

.Metric > p {
    color: black;
    font-size: 18px;
    line-height: 30px;
}


@media (--tablet-viewport) {

    .Metric {
        padding: 20px;
    }
    .Metric > span.number {
        font-size: 40px;
        line-height: 56px;
    }

}

@media (--laptop-viewport) {

    .Metric > span.number {
        font-size: 40px;
        line-height: 56px;
    }

    .Metric > span {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (--desktop-viewport) {

    .Metric > span.number {
        font-size: 70px;
        line-height: 86px;
    }
        
    .Metric > span {
        font-size: 28px;
        line-height: 34px;
    }
}
