.Metric {
    padding: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.Metric > span.number {
    color: #69C900;
    font-size: 70px;
    font-weight: 700;
    line-height: 86px;
}

.Metric > span {
    display: block;
    color: black;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.Metric > hr {
    background-color: #E0E0E0;
}

.Metric > p {
    display: block;
    color: black;
    font-size: 18px;
    line-height: 30px;
}


