@import '../settings.css';

.legal-footer {
    padding: 20px 0 30px;
    align-items: flex-start;
    justify-items: flex-start;
    color: #ffffff;
    background-color: #151515;
}

.legal-footer  div.company {
    grid-column: 2 / 16;
    line-height: 2.0rem;
}

.legal-footer span {
    font-weight: bold;
}

.legal-footer div.contact {
    grid-column: 2 / 16;
    line-height: 2.0rem;
}

.legal-footer a {
    color: white;
}

.legal-footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.5rem;
}

@media (--mobile-viewport) {

    .legal-footer {
        padding: 20px 0 30px;
        align-items: flex-start;
        justify-items: flex-start;
        color: #ffffff;
        background-color: #151515;
    }

    .legal-footer  div.company {
        grid-column: 2 / 10;
        /* IE11 support */
        width: calc(45vw - 20px);
        margin-left: 5vw;
        margin-right: 20px;
        @supports (display: grid) {
          width: auto;
          margin-left: 0vw;
          margin-right: 0vw;
        }
    }

    .legal-footer  div.contact {
        grid-column: 10 / 16;
        /* IE11 support */
        width: calc(45vw - 20px);
        margin-left: 20px;
        margin-right: 5vw;
        display: flex;
        flex-direction: row-reverse;
        @supports (display: grid) {
          width: 100%;
          margin-left: 0vw;
          margin-right: 0vw;
          display: grid;
          justify-content: flex-end;
        }
    }

}

@media (--tablet-viewport) {

    .legal-footer  div.company {
        grid-column: 2 / 8;
    }

    .legal-footer  div.contact {
        grid-column: 8 / 16;
    }

}

@media (--desktop-viewport) {

    .legal-footer {
        padding: 20px 0 30px;
        align-items: flex-start;
        justify-items: flex-start;
        color: #ffffff;
        background-color: #151515;
    }

    .legal-footer  div.company {
        grid-column: 2 / 10;
    }

    .legal-footer  div.contact {
        grid-column: 10 / 16;
    }

    .legal-footer ul li {
        margin: 0 1rem;
    }

}
