@import '../settings.css';

.legal-footer {
    padding: 20px 0 30px;
    align-items: flex-start;
    justify-items: flex-start;
    color: #ffffff;
    background-color: #151515;
}

.legal-footer  div.company {
    grid-column: 2 / 16;
    line-height: 2.0rem;
}

.legal-footer span {
    font-weight: bold;
}

.legal-footer div.contact {
    grid-column: 2 / 16;
    line-height: 2.0rem;
}

.legal-footer a {
    color: white;
}


@media (--mobile-viewport) {

    .legal-footer {
        padding: 20px 0 30px;
        align-items: flex-start;
        justify-items: flex-start;
        color: #ffffff;
        background-color: #151515;
    }

    .legal-footer  div.company {
        grid-column: 2 / 10;
    }

    .legal-footer  div.contact {
        grid-column: 10 / 16;
        display: grid;
        justify-content: flex-end;
        width: 100%;
    }
    
}

@media (--desktop-viewport) {

    .legal-footer {
        padding: 20px 0 30px;
        align-items: flex-start;
        justify-items: flex-start;
        color: #ffffff;
        background-color: #151515;
    }

    .legal-footer  div.company {
        grid-column: 2 / 14;
    }

    .legal-footer  div.contact {
        grid-column: 14 / 16;
    }

}