.sidequote {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

@media (min-width: 1000px) {
    .sidequote {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}