.quotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quotes p {
    text-align: center;
}

@media (max-width: 700px) {
    .quotes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}