@import '../settings.css';

.quotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quotes p {
    text-align: center;
}

@media (--small-tablet-viewport-max-width) {
    .quotes {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}