@import '../settings.css';

.BlogGrid {
    padding-bottom: 60px;
    /* IE11 support */
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    @supports (display: grid) {
      width: auto;
      margin-left: 0px;
      margin-right: 0px;
    }
}

.BlogGrid > a {
    grid-column: 2 / 16;
    margin: 20px;
    @supports (display: grid) {
      width: auto;
      margin: 0px;
    }
}


@media (--tablet-viewport) {

    .BlogGrid {
        grid-template-columns: 38px repeat(3, 1fr) 38px;
        /* IE11 support */
        display: flex;
        flex-wrap: wrap;
        @supports (display: grid) {
          display: grid;
        }
    }

    .BlogGrid > a {
      /* IE11 support */
      width: calc(33% - 40px);
      @supports (display: grid) {
        width: auto;
      }
    }

    .BlogGrid > a:nth-of-type(3n+1) {
        grid-column: 2 / 3;
    }

    .BlogGrid > a:nth-of-type(3n+2) {
        grid-column: 3 / 4;
    }

    .BlogGrid > a:nth-of-type(3n) {
        grid-column: 4 / 5;
    }

}

@media (--desktop-viewport) {

    .BlogGrid {
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
    }

    .BlogGrid > a:nth-of-type(3n+1) {
        grid-column: 3 / 7;
    }

    .BlogGrid > a:nth-of-type(3n+2) {
        grid-column: 7 / 11;
    }

    .BlogGrid > a:nth-of-type(3n) {
        grid-column: 11 / 15;
    }

}
