@import '../settings.css';

.BlogGrid {
    padding-top: 100px;
}

.BlogGrid > a {
    grid-column: 2 / 16;
}


@media (--tablet-viewport) {

    .BlogGrid > a:nth-of-type(3n+1) {
        grid-column: 3 / 7;
    }
    
    .BlogGrid > a:nth-of-type(3n+2) {
        grid-column: 7 / 11;
    }
    
    .BlogGrid > a:nth-of-type(3n) {
        grid-column: 11 / 15;
    }
    
}

@media (--desktop-viewport) {

    .BlogGrid > a:nth-of-type(3n+1) {
        grid-column: 3 / 7;
    }
    
    .BlogGrid > a:nth-of-type(3n+2) {
        grid-column: 7 / 11;
    }
    
    .BlogGrid > a:nth-of-type(3n) {
        grid-column: 11 / 15;
    }
    
}