.quoter-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quoter-large .quoter-image {
	height: 150px;
	width: 150px;
}

.quoter-small .quoter-image {
    height: 105px;
    width: 105px;
    margin-left: 0px;
    margin-right: 20px;
}

.quoter-info > .quoter-name {
    font-size: 16px;
    font-weight: bold;
}

.quoter-small .quoter-info > .quoter-name {
    margin-top: 0px;
}

.quoter-info > .quoter-title {
    margin-bottom: 0px;
    font-size: 14px;
}

.quoter-info > .quoter-company {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
}