.quoter {

}

.quoter-large {

}

.quoter-large .quoter-image {
	height: 150px;
	width: 150px;
}

.quoter:not(.quoter-large) .quoter-image {
    height: 105px;
    width: 105px;
}

.quoter-name, .quoter-company {
    font-weight: bold;
}