.blogpost {
    color: black;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.blogpost > img {
    width: 370px;
    height: 240px;
    object-fit: cover;
}

.blogpost > div {
    padding: 10px 30px;
}