@import '../settings.css';

.blogpostLink {
    color: black;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
    
    position: relative;
}

.blogpostLink:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.blogpostLink > img {
    width: 100%;
    object-fit: cover;
}

.blogpostLink > div {
    padding: 10px 30px 30px;
    display: flex;
}

.blogpostLink > p {
    padding: 10px 30px 0;
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}

.blogpostLink > h1 {
    padding: 0 30px 0;
    min-height: 100px;
    font-size: 22px;
    line-height: 30px;
}

.blogpostLink > .read {
    align-items: flex-end;
    justify-self: flex-end;
}

.blogpostLink > .read > .readingTime {
    flex: 1;
    color: #888888;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 0.9rem;
}

.blogpostLink > .read > .readmore {
    flex: 1;
    text-align: right;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-end;
    color: black;
}

.blogpostLink > .read > .readmore::after {
    content: '→';
    margin: 3px 0 0 5px;
    display: inline-block;
}

a:hover .read > .readmore {
    text-decoration: underline;
}

@media (--tablet-viewport) {

    .blogpostLink {
        min-height: 510px;
    }

    .blogpostLink > img {
        height: 180px;
    }

    .blogpostLink > p, .blogpostLink > h1, .blogpostLink > div {
        padding: 0 20px;
    }

    .blogpostLink > div {
        padding: 10px 20px;
    }

    .blogpostLink > .read {
        flex-direction: column;
        align-items: flex-start;

        position: absolute;
        bottom: 15px;
        left: 4px;
    }

    .blogpostLink > .read > .readmore {
        text-align: left;
        align-self: flex-start;
        margin-top: 5px;
    }

}

@media (--laptop-viewport) {
    .blogpostLink > img {
        height: 200px;
    }

    .blogpostLink {
        min-height: auto;
    }

    .blogpostLink > .read {
        position: static;
        flex-direction: row;
        align-items: center;
    }

    .blogpostLink > .read > .readmore {
        text-align: right;
        align-self: flex-end;
        margin-top: 0;
    }
}

@media (--desktop-viewport) {
    .blogpostLink > img {
        height: 240px;
    }
    .blogpostLink > p {
        padding: 20px 30px 0;
    }

    .blogpostLink > h1, .blogpostLink > div {
        padding: 10px 30px 0;
    }

    .blogpostLink > div {
        padding: 10px 30px 30px;
    }

    .blogpostLink > .read {
        flex-direction: row;
        align-items: center;
    }

    .blogpostLink > .read > .readmore {
        text-align: right;
        align-self: flex-end;
        margin-top: 0;
    }

}
