@import '../settings.css';

.seemorebutton-wrapper {
    justify-items: center;
    padding: 10px 0;
    margin-bottom: 140px;
}

.seemorebutton-wrapper > a {
    grid-column: 2 / 16;
    transition: all 0.2s ease;
}

.seemorebutton-wrapper > a :hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.seemorebutton-wrapper > a > button {
    border: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 25px 75px;
    letter-spacing: 1px;
}


@media (--tablet-viewport) {
    .seemorebutton-wrapper > a {
        grid-column: 2 / 16;
    }
}

@media (--laptop-viewport) {
    .seemorebutton-wrapper > a {
        grid-column: 4 / 14;
    }
}

@media (--desktop-viewport) {
    .seemorebutton-wrapper > a {
        grid-column: 7 / 11;
    }
}