.seemorebutton-wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(14, 10px) 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding: 10px 0;
    margin-bottom: 140px;
}

.seemorebutton-wrapper > a {
    grid-column: 2 / 16;
}

.seemorebutton-wrapper > a > button {
    border: 0;
    font-size: 22px;
    background-color: black;
    color: white;
    padding: 20px 40px;
}


@media (min-width: 700px) {
    .seemorebutton-wrapper {
        grid-template-columns: 1fr repeat(14, 20px) 1fr;
    }
    .seemorebutton-wrapper > a {
        grid-column: 2 / 16;
    }
}

@media (min-width: 900px) {
    .seemorebutton-wrapper {
        grid-template-columns: 1fr repeat(14, 40px) 1fr;
    }
    .seemorebutton-wrapper > a {
        grid-column: 4 / 14;
    }
}

@media (min-width: 1430px) {
    .seemorebutton-wrapper {
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
    }
    .seemorebutton-wrapper > a {
        grid-column: 7 / 11;
    }
}