.contactform {
  margin-bottom: 180px;
}

.contactform > form {
  display: flex;
  flex-wrap: wrap;
}

.contactform > form > label {
  flex: 100%;
  margin-bottom: 20px;
}

.contactform > form > label > input,
.contactform > form > label > textarea {
  width: 95%;
  font-size: 1rem;
  margin-top: 10px;
  padding: 20px 10px;
  border: 1px solid #888888;
}

.contactform > form > label > textarea {
  width: 95%;
}

.contactform > form > div {
  display: flex;
  width: 97.5%;
  justify-content: flex-end;
}

input[type='submit'] {
  border: 0;
  font-size: 22px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 27px 47px;
}

@media (min-width: 1000px) {
  .contactform > form > label {
    flex: 100%;
    margin-bottom: 20px;
  }
}
