@import 'settings.css';

@font-face {
    font-family: 'New Transport';
    src: url('../assets/fonts/NewTransport-Regular.otf');
    src: url('../assets/fonts/NewTransport-Regular.otf?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NewTransport-RegularWEB.woff2') format('woff2'),
        url('../assets/fonts/NewTransport-RegularWEB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Transport';
    src: url('../assets/fonts/NewTransport-Bold.otf');
    src: url('../assets/fonts/NewTransport-Bold.otf?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NewTransport-BoldWEB.woff2') format('woff2'),
        url('../assets/fonts/NewTransport-BoldWEB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'New Transport', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.main {
    background: #EAEAEA;
    background: -moz-linear-gradient(top, #000000 80px, #EAEAEA 80px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 80px,#EAEAEA 80px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 80px,#EAEAEA 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#EAEAEA',GradientType=0 ); /* IE6-9 */
}

@media (--mobile-viewport) {
    .main {
        padding-top: 80px;
    }
}
