@import 'settings.css';

@font-face {
    font-family: 'New Transport';
    src: url('../assets/fonts/NewTransport-Regular.otf');
    src: url('../assets/fonts/NewTransport-Regular.otf?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NewTransport-RegularWEB.woff2') format('woff2'),
        url('../assets/fonts/NewTransport-RegularWEB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Transport';
    src: url('../assets/fonts/NewTransport-Bold.otf');
    src: url('../assets/fonts/NewTransport-Bold.otf?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NewTransport-BoldWEB.woff2') format('woff2'),
        url('../assets/fonts/NewTransport-BoldWEB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'New Transport', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display: optional;
    padding: 0;
    margin: 0;
    background-color: #000000;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main {
    background: #EAEAEA;
    background: -moz-linear-gradient(top, #000000 80px, #EAEAEA 80px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 80px,#EAEAEA 80px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 80px,#EAEAEA 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#EAEAEA',GradientType=0 ); /* IE6-9 */
}

@media (--mobile-viewport) {
    .main {
        padding-top: 80px;
    }
}


.komodoGridWrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr repeat(14, 15px) 1fr;
    grid-gap: 10px;
}

@media (--mobile-viewport) {

    .komodoGridWrapper {
        grid-template-columns: 1fr repeat(14, 30px) 1fr;
    }
}

@media (--tablet-viewport) {

    .komodoGridWrapper {
        grid-template-columns: 1fr repeat(14, 38px) 1fr;
    }

}

@media (--laptop-viewport) {

    .komodoGridWrapper {
        grid-template-columns: 1fr repeat(14, 50px) 1fr;
    }

}

@media (--desktop-viewport) {

    .komodoGridWrapper {
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
        grid-gap: 30px;
    }

}
