footer {
    display: grid;
    grid-template-columns: 1fr repeat(14, 70px) 1fr;
    grid-gap: 30px;
    align-items: flex-start;
    justify-items: flex-start;
    color: #ffffff;
    background-color: #151515;
}

.komodo {
    grid-column: 2 / 7;
}

.address {
    grid-column: 7 / 13;
    display: flex;
    flex-wrap: wrap;
}

span {
    flex: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

address {
    flex: 1;
    line-height: 2.0rem;
    font-style: normal;
}

.sitemap {
    grid-column: 13 / 15;
    display: flex;
    flex-wrap: wrap;
}

ul {
    flex: 1;
    line-height: 2.0rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: normal;
}

a {
    color: white;
}