footer {
    display: grid;
    grid-template-columns: 1fr repeat(14, 20px) 1fr;
    grid-gap: 10px;
    padding: 50px 0 100px;
    align-items: flex-start;
    justify-items: flex-start;
    color: #ffffff;
    background-color: #000000;
}

footer > .komodo {
    grid-column: 2 / 16;
    width: 100%;
    margin-bottom: 50px;
}

footer > .address {
    grid-column: 2 / 16;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer span {
    flex: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer > div.address > address {
    flex: 50%;
    line-height: 2.0rem;
    font-style: normal;
}

footer > div.sitemap {
    grid-column: 2 / 16;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer > div.sitemap > ul {
    flex: 50%;
    line-height: 2.0rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: normal;
}

footer > div.sitemap > ul > li > a {
    color: white;
}


@media (min-width: 800px) {

    footer {
        display: grid;
        grid-template-columns: 1fr repeat(14, 30px) 1fr;
        grid-gap: 20px;
        padding: 50px 0 100px;
    }

}

@media (min-width: 1000px) {

    footer {
        display: grid;
        grid-template-columns: 1fr repeat(14, 50px) 1fr;
        grid-gap: 20px;
        padding: 50px 0 100px;
    }
    
    footer > .komodo {
        grid-column: 2 / 16;
    }
    
    footer > .address {
        grid-column: 2 / 10;
    }

    footer > div.sitemap {
        grid-column: 10 / 16;
    }

}

@media (min-width: 1430px) {

    footer {
        display: grid;
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
        grid-gap: 30px;
        padding: 50px 0 100px;
    }
    
    footer > .komodo {
        grid-column: 2 / 7;
    }
    
    footer > .address {
        grid-column: 7 / 13;
    }

    footer > div.sitemap {
        grid-column: 13 / 16;
    }

}