@import '../settings.css';

footer.main-footer {
    padding: 50px 0 100px;
    align-items: flex-start;
    justify-items: flex-start;
    color: #ffffff;
    background-color: #000000;
}

footer.main-footer > .komodo {
    grid-column: 2 / 16;
    width: 100%;
    margin-bottom: 50px;
}

footer.main-footer > .komodo .logo {
    width: 241px;
}

footer.main-footer > .address {
    grid-column: 2 / 16;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer.main-footer > .address a {
    color: #fff;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
}

footer.main-footer span {
    flex: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

footer.main-footer > div.address > address {
    line-height: 2.0rem;
    font-style: normal;
}

footer.main-footer > div.sitemap {
    grid-column: 2 / 16;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer.main-footer > div.sitemap > ul {
    flex: 50%;
    line-height: 2.0rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: normal;
}

footer.main-footer > div.sitemap > ul > li > a {
    color: white;
    font-weight: lighter;
    font-size: 1.1rem;
}


@media (--mobile-viewport) {

    footer.main-footer {
        padding: 50px 0 100px;
    }

}

@media (--tablet-viewport) {

    footer.main-footer {
        padding: 50px 0 100px;
    }
    
    footer.main-footer > .komodo {
        grid-column: 2 / 16;
    }
    
    footer.main-footer > .address {
        grid-column: 2 / 10;
    }

    footer.main-footer > div.sitemap {
        grid-column: 10 / 16;
    }

}

@media (--desktop-viewport) {

    footer.main-footer {
        padding: 50px 0 100px;
    }
    
    footer.main-footer > .komodo {
        grid-column: 2 / 9;
    }

    footer.main-footer > .address {
        grid-column: 9 / 13;
    }

    footer.main-footer > div.sitemap {
        grid-column: 13 / 16;
    }

}