@import '../settings.css';

.csi-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Needs to work with multiple images */

.csi-wrapper > img {
    overflow: hidden;
    object-fit: contain;
    height: 100%;
}

.csi-wrapper > object {
    width: 80%;
}

@media (--mobile-viewport) {
    .csi-wrapper > object {
        width: 65%;
    }
}