
.csi-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Needs to work with multiple images */

.csi-wrapper > img {
    overflow: hidden;
    object-fit: contain;
}