.vcard {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.vcard > img {
    margin-right: 30px;
    width: 70px;
    height: 70px;
    background-color: gray;
    border-radius: 50%;
}

.vcard > div {
    flex: 3;
}

.vcard > div > h1 {
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.vcard > div > h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 10px 0 0
}

.vcard > div > a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
