@import '../settings.css';

.QuadGrid {
    padding: 10px 0;
}

.QuadGrid > div {
    grid-column: 2 / 16;
}


@media (--tablet-viewport) {

    .QuadGrid {
        padding: 10px 0;
    }
    
    .QuadGrid > div {
        grid-column: 3 / 15;
    }
    
}

@media (--laptop-viewport) {

    .QuadGrid {
        padding: 10px 0;
    }
    
    .QuadGrid > div:nth-of-type(odd) {
        grid-column: 2 / 9;
    }
    
    .QuadGrid > div:nth-of-type(even) {
        grid-column: 9 / 16;
    }
    
}

@media (--desktop-viewport) {

    .QuadGrid {
        padding: 30px 0;
    }

    .QuadGrid > div:nth-of-type(odd) {
        grid-column: 3 / 9;
    }
    
    .QuadGrid > div:nth-of-type(even) {
        grid-column: 9 / 15;
    }

}