.QuadGrid {
    display: grid;
    grid-template-columns: 1fr repeat(14, 15px) 1fr;
    grid-gap: 10px;
    padding: 10px 0;
}

.QuadGrid > div {
    grid-column: 2 / 16;
}


@media (min-width: 700px) {

    .QuadGrid {
        display: grid;
        grid-template-columns: 1fr repeat(14, 40px) 1fr;
        grid-gap: 10px;
        padding: 10px 0;
    }
    
    .QuadGrid > div {
        grid-column: 3 / 15;
    }
    
}

@media (min-width: 900px) {

    .QuadGrid {
        display: grid;
        grid-template-columns: 1fr repeat(14, 50px) 1fr;
        grid-gap: 10px;
        padding: 10px 0;
    }
    
    .QuadGrid > div:nth-of-type(odd) {
        grid-column: 2 / 9;
    }
    
    .QuadGrid > div:nth-of-type(even) {
        grid-column: 9 / 16;
    }
    
}

@media (min-width: 1400px) {

    .QuadGrid {
        display: grid;
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
        grid-gap: 30px;
        padding: 30px 0;
    }

    .QuadGrid > div:nth-of-type(odd) {
        grid-column: 3 / 9;
    }
    
    .QuadGrid > div:nth-of-type(even) {
        grid-column: 9 / 15;
    }

}