@import '../settings.css';

.testimonial-wrapper {
    padding: 260px 0;
}

.Testimonial {
    grid-column: 3 / 15;
    color: white;
    /* IE11 support */
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    @supports (display: grid) {
      width: auto;
      margin-left: 0vw;
      margin-right: 0vw;
    }
}

.Testimonial > span {
    font-size: 2.0rem;
}

.Testimonial > span.name {
    font-weight: bold;
}

.Testimonial > .name {
    margin-right: 5px;
}

q {
    quotes: "“" "”" "‘" "’";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 36px;
    display: block;
    margin-bottom: 40px;
}

.Testimonial > q:before {
    content: open-quote;
}

.Testimonial > q:after {
    content: close-quote;
}

.Testimonial > div {
    display: inline-block;
}

.Testimonial > span.job, .Testimonial > span.company {
    display: block;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}

.Testimonial > hr {
    box-shadow: none;
    border: 1px solid white;
    margin-top: 0;
    margin-bottom: 30px;
}

@media (--desktop-viewport) {

    .Testimonial {
        grid-column: 4 / 14;
        color: white;
        /* IE11 support */
        width: 70vw;
        margin-left: 20vw;
        margin-right: 20vw;
        @supports (display: grid) {
          width: auto;
          margin-left: 0vw;
          margin-right: 0vw;
        }
    }

    q {
        quotes: "“" "”" "‘" "’";
        font-size: 2.5rem;
        line-height: 56px;
        font-weight: bold;
    }
}
