.navigationBar {
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr repeat(14, 15px) 1fr;
    grid-gap: 10px;
    padding: 0;
    color: #ffffff;
    background-color: #000000;
}

.navigationBar > h1 {
    color: white;
    grid-column: 2 / 6;
}

.navigationBar > h1 > a {
    color: white;
    text-decoration: none;
}

.navigationBar > .hamburger {
    grid-column: 6 / 16;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navigationBar > .hamburger > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.navigationBar > ul {
    display: none;
    background-color: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    height: 90vh;
    transform: translate(300px);
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.navigationBar > ul > li {
    flex: 1;
    text-align: left;
}

.navigationBar > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}


@media (min-width: 700px) {

    .navigationBar {
        display: grid;
        grid-template-columns: 1fr repeat(14, 35px) 1fr;
        grid-gap: 10px;
        padding: 10px 0;
    }
    .navigationBar > .hamburger {
        display: none;
    }
    
    .navigationBar > ul {
        list-style: none;
        grid-column: 8 / 16;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navigationBar > ul > li {
        flex: 1;
        text-align: right;
    }
    
    .navigationBar > ul > li > a {
        color: #ffffff;
        text-decoration: none;
        font-size: 24px;
    }
    
    .navigationBar > h1 {
        grid-column: 2 / 5;
    }

    .navigationBar > ul {
        grid-column: 5 / 16;
    }

    .navigationBar > ul > li > a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
    }
}

@media (min-width: 900px) {

    .navigationBar {
        display: grid;
        grid-template-columns: 1fr repeat(14, 50px) 1fr;
        grid-gap: 10px;
        padding: 10px 0;
    }
    .navigationBar > ul > li > a {
        color: #ffffff;
        text-decoration: none;
        font-size: 24px;
    }

}

@media (min-width: 1430px) {

    .navigationBar {
        display: grid;
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
        grid-gap: 30px;
        color: #ffffff;
        background-color: #000000;
    }

    .navigationBar > h1 {
        grid-column: 3 / 8;
    }

    .navigationBar > ul {
        grid-column: 8 / 15;
    }
}