
.cs-wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(14, 20px) 1fr;
    grid-gap: 10px;
    padding: 10px 0;
}

.Content-Section {
    grid-column: 2 / 16;
}

.Content-Section > span {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.Content-Section > h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 74px;
}

.Content-Section > div {
    font-size: 18px;
    line-height: 30px;    
}

.Content-Section a {
    color: black;
}

.invert, .invert a {
    color: white;
}

@media (min-width: 800px) {

    .cs-wrapper {
        display: grid;
        grid-template-columns: 1fr repeat(14, 40px) 1fr;
        grid-gap: 15px;
        padding: 15px 0;
    }
    
    .Content-Section {
        grid-column: 3 / 15;
    }
    
}

@media (min-width: 1430px) {

    .cs-wrapper {
        display: grid;
        grid-template-columns: 1fr repeat(14, 70px) 1fr;
        grid-gap: 30px;
        padding: 30px 0;
    }
    
    .Content-Section {
        grid-column: 5 / 13;
    }
    
}