@import '../settings.css';

.cs-wrapper {
    padding: 0;
}

.cs-wrapper > .gatsby-image-wrapper {
    width: 700px;
    justify-self: center;
    margin: 0;
    padding: 0;
    grid-column: 2 / 16;
}

.Content-Section {
    grid-column: 2 / 16;
    overflow: hidden;

    display: flex;
}

.cs-wrapper.topPaddingLarge {
    padding-top: 100px;
}

.cs-wrapper.topPaddingMedium {
    padding-top: 60px;
}

.cs-wrapper.topPaddingSmall {
    padding-top: 30px;
}

.cs-wrapper.bottomPaddingLarge {
    padding-bottom: 100px;
}

.cs-wrapper.bottomPaddingMedium {
    padding-bottom: 60px;
}

.cs-wrapper.bottomPaddingSmall {
    padding-bottom: 30px;
}

.Content-Section > span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 16px;
}

.Content-Section > h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 600;
    line-height: 74px;

    flex: 3;
}

.Content-Section > div {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 50px;

    flex: 5;
}

.Content-Section a {
    color: black;
}

.invert, .invert a {
    color: white;
}

.size-full {
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

@media (--mobile-viewport) {

    .cs-wrapper {
        padding: 15px 0;
    }

    .cs-wrapper.topPaddingLarge {
        padding-top: 180px;
    }
    
    .cs-wrapper.topPaddingMedium {
        padding-top: 120px;
    }
    
    .cs-wrapper.topPaddingSmall {
        padding-top: 60px;
    }
    
    .cs-wrapper.bottomPaddingLarge {
        padding-bottom: 180px;
    }
    
    .cs-wrapper.bottomPaddingMedium {
        padding-bottom: 120px;
    }
    
    .cs-wrapper.bottomPaddingSmall {
        padding-bottom: 60px;
    }
    

}

@media (--laptop-viewport) {

    .cs-wrapper {
        padding: 15px 0;
    }

    .Content-Section {
        grid-column: 3 / 15;
    }

    .cs-wrapper.topPaddingLarge {
        padding-top: 180px;
    }
    
    .cs-wrapper.topPaddingMedium {
        padding-top: 120px;
    }
    
    .cs-wrapper.topPaddingSmall {
        padding-top: 60px;
    }
    
    .cs-wrapper.bottomPaddingLarge {
        padding-bottom: 180px;
    }
    
    .cs-wrapper.bottomPaddingMedium {
        padding-bottom: 120px;
    }
    
    .cs-wrapper.bottomPaddingSmall {
        padding-bottom: 60px;
    }
    
}

@media (--desktop-viewport) {

    .cs-wrapper {
        padding: 30px 0;
    }
    
    /* .Content-Section {
        grid-column: 5 / 13;
    } */

    .cs-wrapper.topPaddingLarge {
    padding-top: 180px;
    }

    .cs-wrapper.topPaddingMedium {
    padding-top: 120px;
    }

    .cs-wrapper.topPaddingSmall {
    padding-top: 60px;
    }

    .cs-wrapper.bottomPaddingLarge {
    padding-bottom: 180px;
    }

    .cs-wrapper.bottomPaddingMedium {
    padding-bottom: 120px;
    }

    .cs-wrapper.bottomPaddingSmall {
    padding-bottom: 60px;
    }

}