@import '../settings.css';

.metrics-wrapper {
    margin-bottom: 50px;
}

.Metrics {
    grid-column: 2 / 16;
    display: grid;
    grid-gap: 30px;
}
 
@media (--laptop-viewport) {

    .metrics-wrapper {
        padding-bottom: 180px;
    }

    .Metrics {
        grid-column: 3 / 15;

        grid-template-columns: repeat(2, 1fr);
    }
}
