@import '../settings.css';

.metrics-wrapper {
    margin-bottom: 50px;
}

.Metrics {
    grid-column: 2 / 15;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 30px;
}
 
@media (--mobile-viewport) {
    .Metrics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(max-content, auto);
    }
}
